@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

// Ultility
.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.is-center {
  text-align: center;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.form-item {
  margin: 0.75rem;
  border: none;
}

.is-block {
  display: block;
}

.p-1 { padding: 1rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }

.pt-1 { padding-top: 1rem; }
.pt-2 { padding-top: 2rem; }
.pt-3 { padding-top: 3rem; }

.pb-1 { padding-bottom: 1rem; }
.pb-2 { padding-bottom: 2rem; }
.pb-3 { padding-bottom: 3rem; }

.py-1 { padding: 1rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.btn {
  display: inline-block;
  font-weight: 700;
  color: #fff;
  background: #3F0D12;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 3px;
}

.btn:hover {
  color: #3F0D12;
  background: #fff;
}

// Media Breakpoints

$laptop: 1024px;
$tablet: 768px;
$mobile: 375px;

@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

// Main Header
#main-header {
  background: #3F0D12;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  @include tablet {
    display: flex;
    justify-content: center;
  }


  nav {
    display: flex;
    justify-content: space-between;
    margin: 0 1.75rem;

    @include tablet {
      flex-direction: column;
    }
  }

  h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 0.8rem;
    font-family: 'Cinzel', serif;
    letter-spacing: 0.2rem;
    font-weight: 100;
  }

  .logo {
    color: #fff;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
  
  #menuToggle {

    @include mobile {
      display: flex;
      justify-content: center;
    }
  }

  ul {
    display: flex;
    list-style: none;

    @include mobile {
      width: 100%;
      justify-content: center;
      flex-direction: column;
    }

    li {

      @include mobile {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      a {
        padding: 0.5rem;

        @include mobile {
          display: flex;
          justify-content: center;
          width: 100%;
          border-bottom: 1px solid #333;

        }
      }

      a:hover {
        color: #93827F;
        border-radius: 3px;
      }
    }
  }

}

// Showcase
#showcase {
  background: #333 url('./assets/img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;

  @include mobile {
    margin-top: 5rem;
  }

  .showcase-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    @include laptop {
      padding: 0 5rem;
    }

    @include mobile {
      h1 {
        font-size: 3rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    p {
      margin: 1 2rem;
    }

  }

}

// Services
#services {
  margin-top: 1.5rem;

  .items {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    @include mobile{
      flex-direction: column;
    }
  
    .item {
      flex: 1;
      text-align: center;

      img {
        width: 15%;
      }
    }
  }

}

// Gallery
#gallery {
  background: #EDE1C9;
  padding-bottom: 3rem;

  .grid {
    display: grid;
    margin: 0 5rem;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 1rem;

    @include laptop {
      margin: 0 3rem;
    }

    @include tablet {
      margin: 0 2rem;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(8, 5vw);
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(8, 20vw);
    }

    figure .gallery-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .gallery-item-1 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;

      @include tablet {
        grid-column-end: 5;
        grid-row-end: 5;
      }

      @include mobile {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
      }
    }

    .gallery-item-6 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 3;

      @include tablet {
        display: none;
      }
    }

    .gallery-item-7 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 5;

      @include tablet {
        display: none;
      }
    }

    .gallery-item-4 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 5;

      @include tablet {
        display: none;
      }
    }

    .gallery-item-2 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 5;
      grid-row-end: 8;

      @include tablet {
        grid-row-end: 9;
      }

      @include mobile {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
      }
    }
    .gallery-item-3 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 5;
      grid-row-end: 8;

      @include tablet {
        grid-row-end: 9;
      }

      @include mobile {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 7;
      }
    }
    .gallery-item-5 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 5;

      @include mobile {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 9;
      }
    }
  }
}

#testimonials {

  .items {
    display: grid;

    margin: 0 2.5rem 2.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 5vw);
    grid-gap: 1rem;

    @include laptop {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 15vw);
    }

    @include tablet {
      display: grid;
      margin: 0 1rem 1.5rem;
      grid-template-rows: repeat(2, 30vw);
    }

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #EDE1C9;
      padding: 0 3rem;

      @include laptop {
        padding: 0 2rem;
      }

      @include tablet {
        padding: 0 1rem;
      }

    }

    .item-3 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;

      @include laptop {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    }

    .item-2 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 5;

      @include laptop {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
      }
    }

    .item-1 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 5;

      @include laptop {
        display: none;
      }
    }
  }
}

#contact-us {
  display: flex;

  @include tablet {
    flex-direction: column;
  }

  .map,
  .contact-form {
    flex: 1;
    flex-basis: 50%;
  }

  .contact-form {
    background: #EDE1C9;

    input,
    label,
    select,
    textarea {
      width: 100%;
      padding: 0.5rem;
    }

    input[type='submit'] {
      margin: 0.75rem;
    }
  }
  
}

// Footer
#main-footer {
  background: #3F0D12;
  .container p {
    color: #fff;
  }
}
