@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4rem;
  background: #FAF5E3;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}
